# .env로 변환하여 사용
HF_TOKEN=""
HF_TEAM_NAME = "paper-company"
HF_PROJECT_NAME = "KSAT"

GDRIVE_TOKEN="../config/token.json"
GDRIVE_CREDENTIALS="../config/credentials.json"
GDRIVE_FOLDER_ID =""
GDRIVE_CREATE_TOKEN= "false"

UPLOAD_MODEL_NAME = "1115-fubao-exaone3.0-base-v1" # 날짜-이름-베이스모델-사용데이터셋-버전
USERNAME = "fubao"
CHECKPOINT_PATH="../outputs/checkpoint-9999"

ELASTICSEARCH_URL="http://localhost:9200"
ELASTICSEARCH_ID=""
ELASTICSEARCH_PW=""
